
.idea/.idea.Demo.Bank.Accounts/.idea/

Demo.Bank.Accounts.Api/bin/Debug/net6.0/

Demo.Bank.Accounts.Api/obj/Debug/net6.0/

Demo.Bank.Accounts.Api/obj/

Demo.BankAccounts.Api.Tests/bin/Debug/net6.0/cs/

Demo.BankAccounts.Api.Tests/bin/Debug/net6.0/de/

Demo.BankAccounts.Api.Tests/bin/Debug/net6.0/

Demo.BankAccounts.Api.Tests/obj/

Demo.Bank.Accounts.Database.Setup/bin/Debug/net6.0/

Demo.Bank.Accounts.Database.Setup/obj/Debug/net6.0/

Demo.Bank.Accounts.Database.Setup/obj/

demodata/
